@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
       url("/fonts/BebasNeue-Regular.woff") format("woff"),
       url("/fonts/BebasNeue-Regular.ttf") format("truetype"),
       url("/fonts/BebasNeue-Regular.otf") format("opentype"),
       url("/fonts/BebasNeue-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
