.player-hand-cards {
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: flex;
  gap: 10px;
  z-index: 8;
  transition: transform 0.15s ease-out;
  pointer-events: none;
  will-change: transform;
  justify-content: center;
  align-items: flex-end;
}

.player-hand-card {
  width: 25%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s cubic-bezier(0.42,0,0.58,1);
  transform: translateY(+100%);
  pointer-events: auto;
}

.player-hand-cards:hover .player-hand-card,
.player-hand-card:hover {
  transform: translateY(0%);
}

.player-hand-card-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}

