.character-carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.character-slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.character-slide.active {
  opacity: 1;
  animation: gta5Slide 15s linear;
  pointer-events: auto;
}

.character-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@keyframes gta5Slide {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  10% {
    opacity: 1;
    transform: translateX(0%);
  }
  20% {
    opacity: 1;
    transform: translateX(-10%);
  }
  30% {
    opacity: 1;
    transform: translateX(-20%);
  }
  40% {
    opacity: 0;
    transform: translateX(-30%);
  }
  50% {
    opacity: 0;
    transform: translateX(-40%);
  }
  60% {
    opacity: 0;
    transform: translateX(-50%);
  }
  70% {
    opacity: 0;
    transform: translateX(-60%);
  }
  80% {
    opacity: 0;
    transform: translateX(-70%);
  }
  90% {
    opacity: 0;
    transform: translateX(-80%);
  }
  100% {
    opacity: 0;
    transform: translateX(-90%);
  }
}

